<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/skills.css">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">
  
    <title>Skills</title>


</head>
<body>
    <div class="container">
        <div class="buttons">
            <button class="btn" onclick="redirectTo('Index.html')">About Me</button>
            <button class="btn" onclick="redirectTo('Education.html')">Education</button>
            <button class="btn" onclick="redirectTo('Experience.html')">Experience</button>
            <button class="btn" onclick="redirectTo('projects.html')">Projects & Certificates</button>
            <button class="btn" onclick="redirectTo('Skills.html')">Skills</button>
            <button class="btn" onclick="redirectTo('Others.html')">Others</button>
        </div>
        <hr>
        <div class="titles">
            <p>What We Do</p>
            <h1>We are Optimists who love to</h1> 
            <h1>work <span style="color: white;">Together.</span></h1>
        </div>
       <div class="skill ">
        <div class="skills shadow-lg p-3 mb-5 bg-white rounded">
            <div class="tname">FRONT-END</div><hr>
            <ul class="xyz">
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>BOOTSTRAP</li>
                <li>JAVASCRIPT</li>
                <li>JQUERY</li>
            </ul>
        </div>
        <div class="skills shadow-lg p-3 mb-5 bg-white rounded">
            <div class="tname">BACK-END</div><hr>
            <ul class="xyz">
                <li>NODE.JS</li>
                <li>EXPRESS.JS</li>
                <li>MONGODB</li>
                <li>MYSQL</li>
                <li>PYTHON</li>
            </ul>
         </div>
         <div class="skills shadow-lg p-3 mb-5 bg-white rounded">
            <ul class="xyz">
                <div class="tname">FRAMEWORKS</div><hr>
                <li>REACT.JS</li>
                <li>REACT NATIVE</li>
                <li>FLASK</li>
                <li>DJANGO</li>
                <li>SPRINGBOOT</li>
            </ul>
         </div>
        
        </div>
        <div class="footer text-center">
            <footer>
               <hr> <p>© Mohammed Momin Khizar Uddin. All Rights Reserved</p>
            </footer>
       </div>
</body>
</html>
      
<script src="../index.js"></script>