body{
  
    display: flex;
    background-color: rgb(100 116 139)!important;
  }
    
  .buttons{
    color:   rgb(226 232 240) !important;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
    
    
  }
  .btn  {
      color:    rgb(226 232 240) !important;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      text-transform: uppercase;
     
  }
  button:hover {
      background-color: #45a049;
      transform: scale(1.1);
  }
.we{
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 0.5s ease-in-out;
  }
  .we:hover {
    opacity: 0.5; /* Change the opacity on hover (or any other event) */
  }
  
  .experience{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    display: flex;
    justify-content: center;
    margin-left: 250px;
    text-align: center;
    padding: 5px;
    margin-top: 60px;
    margin-bottom: 10px;
    max-width: 100vh;
    
  }
  
  
  
  .tname2{
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
    margin-left: 30px;
   
  }
  .xyz2{
    
    text-align: center;
    text-transform: uppercase;
    margin-right: 80px;
    color: black;
  }
  .btn4{
      display: inline-flex;
      background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
      color: whitesmoke;
      border: none;
      margin-top: 20px;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 0px;
    }
    ul{
        list-style-type: none;
    }
    .footer{
        clear: both;
        margin-top: 20%;
        color: whitesmoke;
      }