body{
  
    display: flex;
    background-color: rgb(100 116 139)!important;
  }
    
  .buttons{
    color:   rgb(226 232 240) !important;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
    
    
  }
  .btn  {
      color:    rgb(226 232 240) !important;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      text-transform: uppercase;
     
  }
  button:hover {
      background-color: #45a049;
      transform: scale(1.1);
  }
  .footer{
    clear: both;
    margin-top: 20%;
    color: whitesmoke;
    
  
  }